<!--<mat-toolbar>-->
<!--    <button mat-icon-button class="example-icon primary-color" aria-label="Example icon-button with menu icon">-->
<!--        <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <span class="mat-accent">Hana Shop</span>-->
<!--    <span class="spacer"></span>-->
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button aria-label="Basket" class="position-relative rounded-1">-->
<!--        <mat-icon>shopping_cart</mat-icon>-->
<!--        <span class="position-absolute top-10 start-100 translate-middle text-danger badge rounded-pill bg-pizza-red" style=";transform: scale(0.9); font-size: 0.9rem;">-->
<!--                      {{ productsInBasketCount.getValue() }}-->
<!--                    </span>-->
<!--    </button>-->

<!--</mat-toolbar>-->