<section class=" w-100" >
    <div class="container-lg container-fluid shadow-sm rounded-5  header" >
        <div class="row">
            <div class="col-lg-5 col-12 m-auto text-center">
                <div class="m-auto p-5 text-center title-text text-dark">
                    <img src="/logo.jpeg"  alt="" class="shadow rounded-5  img-fluid border-dark">
                    <!--                        <div class="wrapper">-->
                    <!--&lt;!&ndash;                            <p class="typing-demo fs-5 text-dark  fw-bolder">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                Your Destination for Delicious Moments.&ndash;&gt;-->
                    <!--&lt;!&ndash;                            </p>&ndash;&gt;-->
                    <!--                        </div>-->
                </div>
            </div>
            <div class="col-lg-7 col-12 m-auto p-5 ">
                <p class="fs-2  logo-dark-color fw-semibold ">
                    Le secret des peaux <br> parfaites american, <br> maintenant au Maroc.
                </p>
                <p>Produits 100% authentiques & certifiés</p>
                <a routerLink="/" fragment="categories">  <button mat-raised-button color="primary" >
                    Découvrez nos marques 👇
                </button></a>


            </div>
        </div>
    </div>

</section>
