<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="m-0">Catégories</h2>
  <mat-form-field appearance="outline" class="w-25">
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nom ou ref" />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1 w-100">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="ref">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref</th>
    <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
