<!--&lt;!&ndash; Nos Valeurs &ndash;&gt;-->
<!--<section class="container-fluid  overflow-hidden mt-5" data-aos="fade-up">-->
<!--    <div class="row rounded-0 shadow-sm p-4 flex-column-reverse flex-lg-row-reverse align-items-center"-->
<!--         style="position: relative;background: url('https://static.vecteezy.com/ti/vecteur-libre/p1/27865586-ensemble-de-restaurant-griffonnages-nourriture-et-les-boissons-sur-noir-contexte-vectoriel.jpg')  fixed center center;">-->

<!--        &lt;!&ndash; Optional: Dark overlay for better contrast &ndash;&gt;-->
<!--        <div style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); border-radius: 2rem;"></div>-->

<!--        &lt;!&ndash; Header &ndash;&gt;-->
<!--&lt;!&ndash;        <div class="col-12 text-center position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;            <h2 class="display-4 fw-bold text-cheese-yellow bg-white bg-opacity-25 rounded px-4 py-2 d-inline-block">&ndash;&gt;-->
<!--&lt;!&ndash;                Nos Valeurs&ndash;&gt;-->
<!--&lt;!&ndash;            </h2>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        &lt;!&ndash; Values Grid &ndash;&gt;-->
<!--        <div class="col-lg-8 row row-cols-1 row-cols-md-1 g-4 px-4 py-4 justify-content-center position-relative">-->
<!--            &lt;!&ndash; Qualité &ndash;&gt;-->
<!--            <div class="bg-white rounded-3 shadow-sm p-4 " data-aos="fade-right">-->
<!--                <div class="d-flex align-items-center mb-2">-->
<!--                    <mat-icon class="me-2  fs-2 overflow-visible text-cheese-yellow">check_circle</mat-icon>-->
<!--                    <h4 class="mb-0 text-cheese-yellow">Qualité</h4>-->
<!--                </div>-->
<!--                <p class="text-muted">Des ingrédients frais pour un goût exceptionnel à chaque bouchée.</p>-->
<!--            </div>-->

<!--            &lt;!&ndash; Service &ndash;&gt;-->
<!--            <div class="bg-white rounded-3 shadow-sm p-4 me-2" data-aos="fade-left">-->
<!--                <div class="d-flex align-items-center mb-2">-->
<!--                    <mat-icon class="me-2  fs-2 overflow-visible text-cheese-yellow">support_agent</mat-icon>-->
<!--                    <h4 class="mb-0 text-cheese-yellow">Service</h4>-->
<!--                </div>-->
<!--                <p class="text-muted">Un service chaleureux et personnalisé à chaque visite.</p>-->
<!--            </div>-->

<!--            &lt;!&ndash; Authenticité &ndash;&gt;-->
<!--            <div class="bg-white rounded-3 shadow-sm p-4" data-aos="fade-right">-->
<!--                <div class="d-flex align-items-center mb-2">-->
<!--                    <mat-icon class="me-2  fs-2 overflow-visible text-cheese-yellow">restaurant</mat-icon>-->
<!--                    <h4 class="mb-0 text-cheese-yellow">Authenticité</h4>-->
<!--                </div>-->
<!--                <p class="text-muted">Recettes fidèles aux traditions italiennes pour un goût authentique.</p>-->
<!--            </div>-->

<!--            &lt;!&ndash; Communauté &ndash;&gt;-->
<!--            <div class="bg-white rounded-3 shadow-sm p-4" data-aos="fade-left">-->
<!--                <div class="d-flex align-items-center mb-2">-->
<!--                    <mat-icon class="me-2 fs-2 overflow-visible  text-cheese-yellow">people</mat-icon>-->
<!--                    <h4 class="mb-0 text-cheese-yellow">Communauté</h4>-->
<!--                </div>-->
<!--                <p class="text-muted">Un lieu de partage où chaque client fait partie de la famille.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Logo &ndash;&gt;-->
<!--        <div class="col-lg-4 col-8 text-center mb-4 mb-lg-0 position-relative text-center d-flex flex-column align-content-center">-->

<!--            <h2 class="display-4 fw-bold text-cheese-yellow  rounded  py-2 d-inline-block">-->
<!--                Nos Valeurs-->
<!--            </h2>-->
<!--            <img src="/mamito_logo-png.png" class="img-fluid w-100" alt="Mamito Logo " >-->
<!--            <br>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section>
    <section class="container">
        <h2 class="display-3 my-5">Blog posts</h2>

        <p class="text-muted text-center mb-4">
            Nous serions ravis de répondre à toutes vos questions. N'hésitez pas à nous
            contacter via le formulaire ci-dessous ou en utilisant nos informations de contact.
        </p>

        <div class="row g-4"> <!-- g-4 adds horizontal & vertical space -->
            <div class="col-lg-3 col-md-6 col-12">
                <mat-card appearance="raised">
                    <img mat-card-image
                         src="https://www.beauty-care.ma/cdn/shop/articles/DALL_E_2024-06-08_17.50.57_-_A_serene_flatlay_featuring_Korean_skincare_products_for_acne_treatment_including_an_oil_cleanser_water-based_cleanser_toner_essence_serum_moistu.webp?v=1745616840&width=720"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="p-2 mt-3">
                            The Shiba Inu is the smallest of the six original and distin
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <mat-card appearance="raised">
                    <img mat-card-image
                         src="https://www.beauty-care.ma/cdn/shop/articles/DALL_E_2024-06-08_17.50.57_-_A_serene_flatlay_featuring_Korean_skincare_products_for_acne_treatment_including_an_oil_cleanser_water-based_cleanser_toner_essence_serum_moistu.webp?v=1745616840&width=720"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="p-2 mt-3">
                            The Shiba Inu is agile, small and originally bred for hunting...
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
                <mat-card appearance="outlined">
                    <img mat-card-image
                         src="https://www.beauty-care.ma/cdn/shop/articles/DALL_E_2024-06-08_17.50.57_-_A_serene_flatlay_featuring_Korean_skincare_products_for_acne_treatment_including_an_oil_cleanser_water-based_cleanser_toner_essence_serum_moistu.webp?v=1745616840&width=720"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="p-2 mt-3">
                            The Shiba Inu is agile, small and originally bred for hunting...
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <div class="col-lg-3 col-md-6 col-12">
                <mat-card appearance="outlined">
                    <img mat-card-image
                         src="https://www.beauty-care.ma/cdn/shop/articles/DALL_E_2024-06-08_17.50.57_-_A_serene_flatlay_featuring_Korean_skincare_products_for_acne_treatment_including_an_oil_cleanser_water-based_cleanser_toner_essence_serum_moistu.webp?v=1745616840&width=720"
                         alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p class="p-2 mt-3">
                            The Shiba Inu is agile, small and originally bred for hunting...
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-raised-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>


            <!-- Repeat for other cards -->
        </div>
    </section>

</section>